doctype html
html(lang="en")
    head
        title Flashcards
    body
        header
            h1 Flashcards
        secion#content
            h2= prompt 
        footer
            p An app to help you study 
