extends layout

block content
    h1= `${error.message} - Status: ${error.status}`
    img.desk-items(src='/static/img/desk.svg')
    a.button-primary-small(href='/') Head back home
    .paper
        pre.stack-trace= error.stack
    .tear
