doctype html
html(lang="en")
  head
    title Flash Cards
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    include includes/header.pug
    if name
      h2 Welcome, #{name}!
      form(action='/logout', method='post')
        button(type='submit') Log out
    else
      h2 Well, hello there!
    block content
    include includes/footer.pug
